@model WebApplication1.Models.Departemen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ethanolamine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Packaging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptionCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumptionCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
